.section_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section_title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 32px 0;
}

.big_section {
  font-size: 1.5rem;
}

.small_section {
  font-size: 1rem;
}

.table_of_contents {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.table_of_contents ul {
  list-style: url('/graphics/chain.svg');
  padding: 0;
  margin: 0;
}

.table_of_contents ul a {
  color: #1a1a1a;
  transition: 0.3s;
}

.table_of_contents li a::after {
  display: none;
}

.table_of_contents ul ul {
  list-style: inside;
}

.table_of_contents ul ul li {
  padding: 8px;
}

.table_of_contents li a:hover {
  color: #52207d;
}

.table_of_contents ul ul li:first-child {
  margin-top: 8px;
}

.questions_container {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  padding: 0 32px;
  width: calc(50vw);
}

.collapsible {
  display: flex;
  flex-direction: column;
}

.collapsible > div {
  transition: 0.3s;
}

.collapsible [aria-expanded="true"] {
  background-color: #52207d;
  color: #faf5ff;
}


.question {
  cursor: pointer;
  padding: 16px;
  margin: 0.5rem;
  display: flex;
  transition: 0.3s;
  border-radius: 8px;
  background-color: #c2abd9;
  font-size: 1.2rem;
  box-shadow: 0 1px 3px #b99bd7;
  color: #52207d;
}

.question:hover {
  box-shadow: 0 5px 5px rgba(0,0,0,.25);
  transform: translateY(-4px);
  background-color: #654285;
  color: #faf5ff;
}

.answer {
  padding: 16px;
  padding-top: 8px;
  font-size: 1.1rem;
}


.section_text {
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 20%;
  margin-left: 20%;
}
