.nav {
  height: 64px;
  box-shadow: 0 1px 3px #ccca;
  position: relative;
  z-index: 1;
}

.nav ul {
  padding: 0;
  margin: 0;
  height: 100%;
  display: flex;
  list-style: none;
  background-color: #faf5ff;
}

.nav ul li {
  position: relative;
}

.nav ul li:first-child {
  margin-right: auto;
  display: flex;
  align-items: center;

}

.nav ul li:first-child p {
  color: #52207d;
  padding: 0 16px;
  z-index: 1;
  transition: 0.3s;
}

.nav ul li:hover:first-child p {
  color: #faf5ff;
}

.nav ul li:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 8px;
  width: calc(100% - 16px);
  height: 2px;
  background-color: #52207d;
  transition: 0.3s;
  z-index: 0;
}

.nav ul li:hover:before {
  height: 100%;
  width: 100%;
  left: 0;
  background-color: #654285;
}

.nav ul li a {
  padding: 0 16px;
  text-decoration: none;
  color: #654285;
  height: 100%;
  display: flex;
  align-items: center;
  transition: 0.3s;
  z-index: 1;
  position: relative;
}

.nav ul li:hover a {
  color: #faf5ff;
}

.nav ul li a::after {
  display: none;
}
